<nav class="navbar navbar-expand-md navbar-dark bg-dark mb-4">
  <div class="container">
    <a class="navbar-brand" routerLink="/">DevGigs</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarCollapse"
      aria-controls="navbarCollapse"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <div class="mx-auto">
        <ul class="navbar-nav me-auto mb-2 mb-md-0">
          <li>
            <a class="nav-link" routerLink="/" routerLinkActive="active"
              >Jobs list</a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/profile" style="cursor: pointer"
              >Profile</a
            >
          </li>
          <li class="nav-item" routerLinkActive="">
            <a class="nav-link" routerLink="/">Rooms</a>
          </li>
        </ul>
      </div>

      <form class="d-flex" role="search">
        <div class="input-group input-group-sm">
          <input
            class="form-control text-primary"
            type="search"
            placeholder="Search"
            aria-label="Search"
          />
          <div class="input-group-append">
            <button class="btn btn-outline-success" type="submit">
              <fa-icon [icon]="faSearch" [ngStyle]="{ color: '' }"></fa-icon>
            </button>
          </div>
        </div>
      </form>
      <button
        class="btn btn-outline-primary ms-2 btn-sm "
        *ngIf="isAuthenticated"
        style="cursor: pointer"
        (click)="onLogout()"
      >
        <a class="nav-link"> Logout </a>
      </button>
      <a
        class="btn btn-outline-primary btn-sm ms-2"
        routerLink="/auth"
        style="cursor: pointer"
        *ngIf="!isAuthenticated"
        >Login</a
      >
    </div>
  </div>
</nav>
