<div class="row">
  <div class="div main-wrapper">
    <div class="col col-lg-6 text-content">
      <div class="content p-5">
        <h2 class="mt-5 welcome-text">
          Find your first <span class="freelance-text">freelance</span> <br />
          gig 👋
        </h2>
        <p class="catch-phrase mt-3">
          Now it's easier
          <span class="freelance-text text-bold">done</span> than said..
        </p>

        <div class="button mt-5">
          <button class="btn btn-outline-primary btn-md">
            Find Jobs!
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
